/*utility*/
.clearfix {
    overflow: hidden;
    z-index: 10;
}

/*Main container*/
.restaurant {
    width: 750px;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

/*Menu items*/
.item-container {
    border: 1px dashed black;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10px;
    width: 350px;
    display: inline-block;
    position: relative;
}

.menu-item {
    height: 2em;
    word-break: break-word;
    position: relative;
}

/*price stuff*/
.price-container {
    display: inline-block;
    border: 2px solid black;
    position: relative;
    height: 50px;
    width: 25%;
}

.price {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    left: 23%;
}

/*dynamic highlight class*/
.highlight {

    background-color: peachpuff;
}